<div class="member-spotlight-banner">
  <ng-container *ngIf="!isLoadingExpenses; else spotlightSkeleton">
    <ng-container *ngFor="let user of users">
      <div class="spotlight-content" *ngIf="selectedUser === user.memberId">

        <div class="spotlight-info-cluster">
          <div class="spotlight-user-heading">
            <span class="spotlight-name">{{ user.memberName | firstName }}'s Outlay:</span>
            <span class="spotlight-total">₹{{ user.totalMemberExpense | number:'1.0-0' }}</span>
          </div>

          <div class="spotlight-status-tag"
               [class.get]="user.badgeText !== 'Settled up' && user.netBalance >= 0"
               [class.owe]="user.badgeText !== 'Settled up' && user.netBalance < 0"
               [class.settled]="user.badgeText === 'Settled up'">
            <span *ngIf="user.badgeText === 'Settled up'">
              <i class="fa-solid fa-check"></i> Settled up
            </span>
            <span *ngIf="user.badgeText !== 'Settled up' && user.netBalance >= 0">
              Gets back ₹{{ user.netBalance | number:'1.0-0' }}
            </span>
            <span *ngIf="user.badgeText !== 'Settled up' && user.netBalance < 0">
              Owes ₹{{ -user.netBalance | number:'1.0-0' }}
            </span>
          </div>
        </div>

        <div class="spotlight-action-area" *ngIf="user.netBalance < 0 && user.isSettleShow">
          <button type="button" class="btn-settle-action" (click)="settle(user)">
            <i class="fa-solid fa-bolt"></i>
            <span>Settle Up</span>
          </button>
        </div>

      </div>
    </ng-container>
  </ng-container>

  <ng-template #spotlightSkeleton>
    <div class="spotlight-content">
      <div class="spotlight-info-cluster">
        <div class="spotlight-user-heading" style="gap: 6px;">
          <ion-skeleton-text animated style="width: 75px; height: 13px; border-radius: 4px; margin: 0;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 45px; height: 15px; border-radius: 4px; margin: 0;"></ion-skeleton-text>
        </div>
        <ion-skeleton-text animated style="width: 95px; height: 22px; border-radius: 999px; margin: 0;"></ion-skeleton-text>
      </div>

      <div class="spotlight-action-area">
        <ion-skeleton-text animated style="width: 86px; height: 32px; border-radius: 999px; margin: 0;"></ion-skeleton-text>
      </div>
    </div>
  </ng-template>
</div>
