<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Add Member</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="close-btn">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add-member-content">
  <div class="modal-sheet-content">

    <p class="modal-sheet-subtitle">Invite someone by their name and email</p>

    <form [formGroup]="memberForm" (ngSubmit)="onAddMember()">


        <div class="input-row">
          <div class="icon-square primary-tint">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="input-body" [class.has-error]="f['name'].invalid && f['name'].touched">
            <ion-label>Name</ion-label>
            <input type="text" placeholder="e.g. Rustam" formControlName="name" class="native-input" />
          </div>
        </div>

        <div class="field-error" *ngIf="f['name'].invalid && f['name'].touched">
          <span *ngIf="f['name'].errors?.['required']">Name is required.</span>
          <span *ngIf="f['name'].errors?.['minlength']">Name must be at least 2 characters.</span>
          <span *ngIf="f['name'].errors?.['maxlength']">Name cannot exceed 50 characters.</span>
          <span *ngIf="f['name'].errors?.['pattern']">Name can only contain letters and spaces.</span>
        </div>

        <div class="divider" style="margin-left: 0"></div>

        <div class="input-row">
          <div class="icon-square success-tint">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="input-body" [class.has-error]="f['email'].invalid && f['email'].touched">
            <ion-label>Email</ion-label>
            <input type="email" placeholder="email@example.com" formControlName="email" class="native-input" />
          </div>
        </div>

        <div class="field-error" *ngIf="f['email'].invalid && f['email'].touched">
          <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
          <span *ngIf="f['email'].errors?.['email'] || f['email'].errors?.['pattern']">Please enter a valid email format.</span>
        </div>

      <div class="server-error" *ngIf="serverErrorMsg">{{ serverErrorMsg }}</div>

      <!-- SUBMIT BUTTON -->
      <div class="footer-pad">
        <ion-button expand="block" type="submit" class="main-btn" [disabled]="isSubmitting">
          <ion-spinner name="dots" *ngIf="isSubmitting"></ion-spinner>
          <span *ngIf="!isSubmitting">Add Member</span>
        </ion-button>
      </div>

    </form>

  </div>
</ion-content>